body {
 
  line-height: 26px;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  height: 75vh;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 20px;
}

.formRow {
  margin: 10px 0;
}

.formInput {
  padding: 15px 10px;
  width: 100%;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
}

.submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}
